body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 50px;
  font-family: "Inter-Bold", sans-serif;
  color: var(--color-dark-blue);
}

form,
label {
  display: flex;
  flex-direction: column;
}

form {
  width: 312px;
  gap: 10px;
}

label {
  gap: 2px;
}

label span {
  font-family: "Inter-Regular", sans-serif;
  font-size: 1rem;
  color: var(--color-light-blue);
}

label input {
  height: 30px;
  border: 1px solid var(--color-light-blue);
  border-radius: 5px;
  padding: 0 10px;
}

.buttons {
  display: flex;
  justify-content: end;
}

.btn {
  width: 100px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: var(--color-light-blue);
  transition: 0.5s;
}

.btn-primary:not(:hover) {
  transition: 0.5s;
}

.btn-secondary {
  background: none;
}

.btn-secondary:hover {
  text-decoration: underline;
  transition: 0.2;
}
