@use "@/style/__variables.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .title {
    font-size: 2.5rem;
    margin-bottom: 50px;
    font-family: "Inter-Bold", sans-serif;
    color: $color-dark-gray;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 312px;
    gap: 10px;
  }

  .buttons {
    display: flex;
    justify-content: end;
  }
}
