main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagem {
  width: 973px;
  height: 380px;
}

.imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autor-info {
  width: 973px;
  padding: 40px 0 30px 100px;
  margin-bottom: 37px;

  border-bottom: solid 1px #e8e7e7;

  display: flex;
  flex-direction: column;
  gap: 19px;
}

h1 {
  font-family: "Inter-Bold", sans-serif;
  font-size: 2.8rem;
  color: var(--color-dark-blue);
}

.autor-info div {
  display: flex;
  gap: 24px;
}

.autor {
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.1rem;
  color: var(--color-dark-blue);
}

.data-pub {
  font-family: "Inter-Regular", sans-serif;
  font-size: 1.1rem;
  color: var(--color-light-blue);
}

article {
  width: 765px;
  margin-bottom: 60px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

p {
  font-family: "Inter-Regular", sans-serif;
  font-size: 1rem;
  color: var(--color-light-blue);
}

b {
  font-family: "Inter-Bold", sans-serif;
  font-size: 1rem;
  color: var(--color-dark-blue);
}

h3 {
  font-family: "Inter-Bold", sans-serif;
  font-size: 1.5rem;
  color: var(--color-dark-blue);
}

article a {
  position: absolute;
  bottom: 0;
  right: -100px;
  border: none;
  background: none;
  cursor: pointer;
}

article a i {
  color: var(--color-purple);
  font-size: 30px;
}
