@use "@/style/__variables.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  margin: 30px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .title {
      border: none;
      font-size: 32px;
    }

    .title:focus {
      outline: none;
    }

    .button {
      background-color: $color-blue;
      color: $color-white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: $color-blue-hover;
        transition: 0.5s;
      }

      &:not(:hover) {
        transition: 0.3s;
      }
    }
  }
}
