* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-black);
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-light-blue: #4a5568;
  --color-dark-blue: #2d3748;
}

/* HEADER */
.cabecalho {
  display: flex;
  flex-direction: column;
}

.navegacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  height: 85px;
}

.navegacao .logo {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: 'Inter-Bold', sans-serif;
}

.campo-busca {
  display: flex;
  align-items: center;
  gap: 10px;
}

.campo-busca input {
  border: none;
  font-size: 1rem;
}

.campo-busca input::placeholder {
  font-size: 1rem;
}

.campo-busca input:focus {
  outline: none;
}

.menu-container {
  display: flex;
}

.login-acesso {
  display: flex;
  align-items: center;
  gap: 15px;
}

.login-acesso a {
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Inter-Regular', sans-serif;
}

.login-acesso a:nth-child(2) {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 5px 20px;
  border-radius: 30px;
}

.menu {
  display: none;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.menu li a {
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Inter-Regular', sans-serif;
  color: var(--color-black);
}

.bi-person-circle {
  margin-left: 15px;
  font-size: 1.75rem;
}

.home-capa {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 467px;
  background-color: #fbfbfb;
}

.title {
  position: relative;
  width: 500px;
}

.title h1 {
  font-family: 'Inter-Bold', sans-serif;
  font-size: 4rem;
}

.title img {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* SEÇÃO CARD LARGO */
.card-largo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 321px;
}

.card-largo {
  height: 243px;
  border: solid 1px #e2e2e2;
  border-radius: 5px;
  box-shadow: 0 5px 4px rgba(221, 221, 221, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding-left: 50px;
}

.card-largo .conteudo {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card-largo .conteudo div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card-largo .conteudo h3 {
  font-family: 'Inter-Bold', sans-serif;
  font-size: 1.9rem;
  color: var(--color-dark-blue);
}

.card-largo .conteudo p {
  font-family: 'Inter-Regular', sans-serif;
  font-size: 0.875rem;
  color: var(--color-light-blue);
}

.conteudo div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

.data-postagem {
  font-family: 'Inter-Regular', sans-serif;
  font-size: 0.75rem;
  color: var(--color-light-blue);
}

.ver-mais {
  font-family: 'Inter-Bold', sans-serif;
  font-size: 0.875rem;
  color: var(--color-dark-blue);
  text-decoration: none;
}

.card-largo img {
  width: 400px;
  height: 243px;
  border-radius: 5px;
}

.card-pequeno-wrapper {
  width: 100%;
  height: 394px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 33px;
}

.card-pequeno {
  width: 300px;
  height: 382px;
  border-radius: 5px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgb(192, 189, 189, 0.25);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.card-pequeno img {
  width: 100%;
  height: 179px;
  border-radius: 5px 5px 0 0;
  margin-bottom: 18px;
}

.card-pequeno .conteudo {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.card-pequeno .conteudo div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-pequeno .conteudo h3 {
  font-family: 'Inter-Bold', sans-serif;
  font-size: 1.25rem;
  color: var(--color-dark-blue);
}

.card-pequeno .conteudo p {
  font-family: 'Inter-Regular', sans-serif;
  font-size: 0.875rem;
  color: var(--color-light-blue);
}
