* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  font-family: "Inter-Regular", sans-serif;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("fonts/Inter-Bold.otf") format("opentype"),
    url("fonts/Inter-Bold.ttf") format("truetype"),
    url("fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Regular";
  src: url("fonts/Inter-Regular.otf") format("opentype"),
    url("fonts/Inter-Regular.ttf") format("truetype"),
    url("fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
